h1.prayer {
    text-align: center;
    color: blue
}

p.jesus {
    color: white;
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 200px;
    margin-right: 400px;
    margin-left: 400px;
    background-color: blue;
}

div.div1 {
    text-align: center;
}
