body {
    background: Blue;
}

h1.c {
    color: White;
    margin: auto;
    height: 100px;
    width: 300px;

}

div.p1 {
    margin: auto;
    height: 50px;
    width: 700px;
    color: White;
    text-align: center;
}

h4.h4 {
    text-align: center;
    color: White
}

    {
    text-align: center;

}
